<div id="main-left-sidebar" class="sidenav pt-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <i
          class="fa fa-times sidebar-close-btn"
          onclick="closeNav()"
          aria-hidden="true"
        ></i>
      </div>
    </div>
  </div>
  <a href="#" routerLink="/" routerLinkActive="activeLink"
    ><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;&nbsp;
    Dashboard</a
  >
  <a href="#" routerLink="/addVehicle" routerLinkActive="activeLink"
    ><i class="fa fa-car" aria-hidden="true"></i>&nbsp;&nbsp; Vehicle</a
  >
</div>
