<div class="dashboard-container">
  <div class="qr-list">
    <div *ngIf="loading" class="text-center mt-5 pt-5">Loading...</div>
    <div *ngIf="QrCodes.length > 0; else noQrCodes">
      <h2>QR TAG</h2>
      <button (click)="downloadAllQrAsPdf()" class="btn btn-primary m-2">
        Download All as PDF
      </button>
      <div *ngFor="let QrCode of QrCodes" class="mb-5">
        <div class="qr-code">
          <img src="{{QrCode.path}}" alt="QR Code" class="qr-img" />
          <p>TAG ID: {{QrCode.qrId}}</p>
        </div>
        <div>
          <button class="btn btn-primary m-2"
          (click)="downloadQrAsPdf(QrCode.qrId, QrCode.path)">
            Download as PDF
          </button>
        </div>
      </div>
    </div>

    <ng-template #noQrCodes>
      <!-- <p>No QR Codes Available</p> -->
    </ng-template>
  </div>
</div>
